## 技術概要
これはWailsで作られるWindows向けのアプリケーションです

フロントエンドはSvelteを利用しています

## アプリ概要

機能
VRChatのログファイルを監視し更新されるたびに行を評価して特定のアクションを実行します

行の評価は正規表現を使用しています。

アクションは以下のようなものがあります
- ログの行をApplicationログに表示
- 指定したURLにPOSTリクエストを送信
- Discordにメッセージを送信
- XSOverlayにメッセージを送信
- Textファイルに書き出し

フロントエンド機能
- 監視ログフォルダの指定
- 対象とアクションの定義
- 作成した定義の一覧表示
- 定義の編集
- 定義の削除
- Applicationログの表示

## コーディング規約

- ESLintの標準的なルールに準拠してください
- コードには適切なコメントを含め、変更が必要な場合はコメントも修正してください
